.wrap {
  position: fixed;
  height: 100vh;
  width: 35%;
  background-color: var(--primary-color-white);
  top: 0;
  right: 0;
  padding: 0 10px;
  opacity: 0;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 2;
  @media screen and (max-width: 768px) {
    width: 60%;
  }
}

.active {
  transform: translateX(0);
  opacity: 1;
}

.menu_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20%;
  border-bottom: 1px solid var(--primary-color-black);
  padding-bottom: 20px;
  align-items: center;
}

.link_item {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color-black);
  transition: color 300ms ease;
}

.link_item:hover {
  color: var(--primary-color-red);
}

.btn_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--primary-color-black);
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid var(--primary-color-red);
  transition: background-color 300ms ease;
}

.btn:hover {
  background-color: var(--primary-color-red);
  color: var(--primary-color-white);
}
