:root {
  --primary-color-red: #f03f3b;
  --primary-color-white: #fbfbfb;
  --primary-color-black: #11101c;
  --primary-color-yellow: #ffc531;
  --primary-color-grey: #8a8a89;
  --primary-color-grey-bg: #f3f3f3;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

img {
  border-style: none;
  display: block;
  width: 100%;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  z-index: 1000;
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Overlay--after-open:focus-visible {
  outline: transparent;
}

.time_picker .react-datepicker {
  border: none;
  border-radius: 12px;
}

.react-datepicker__input-container input {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  width: 232px;
  height: 52px;
  padding-left: 18px;
}

.time_picker .react-datepicker__triangle {
  display: none;
}

.time_picker .react-datepicker__time-container {
  width: 150px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 100%;
  overflow-x: hidden;
}

/* Стиль для списку часу */
.time_picker .react-datepicker__time-container .react-datepicker__time-list {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Стиль для елементів списку часу */
.time_picker
  .react-datepicker__time-container
  .react-datepicker__time-list-item {
  font-family: 'Helvetica';
  font-weight: 500;
  line-height: 1.25;
  font-size: 20px;
  text-align: center;
  color: var(--primary-color-grey);
}

.time_picker .react-datepicker__header {
  background-color: #fff;
  padding-top: 16px;
  border: none;
  margin-bottom: 8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.time_picker .react-datepicker__time-list {
  background-color: #fff;
  height: 160px !important;
}

.time_picker .react-datepicker-time__header {
  display: flex;
  padding-left: 11px;
  font-family: 'Helvetica';
  font-weight: 500;
  color: var(--primary-color-black);
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  color: var(--primary-color-black);
  background-color: transparent;
}
