.wrapper_bg {
  height: 736px;
  display: flex;
  justify-content: center;
}

.bg_red {
  background-color: var(--primary-color-red);
  height: 100%;
  width: 677px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.bg_img {
  background: linear-gradient(rgba(18, 20, 23, 0.6), rgba(18, 20, 23, 0.6)),
    url(../../assets/img/main.jpeg), no-repeat, center;
  width: 699px;
  height: 100%;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
