.wrapper_bg {
  height: 736px;
  display: flex;
  justify-content: center;
  height: calc(100vh - 133px);
}

.bg_red {
  background-color: var(--primary-color-red);
  height: 100%;
  width: 677px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding-top: 251px;
  padding-left: 96px;
  @media screen and (max-width: 1439px) {
    width: 100%;
  }
}

.bg_img {
  background: linear-gradient(rgba(18, 20, 23, 0.6), rgba(18, 20, 23, 0.6)),
    url(../../assets/img/main.jpeg), no-repeat, center;
  width: 699px;
  height: 100%;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  @media screen and (max-width: 1439px) {
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
  }
}

.title {
  font-weight: 500;
  font-size: 70px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--primary-color-white);
  max-width: 517px;
  margin-bottom: 28px;
}

.subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.07;
  letter-spacing: -0.02em;
  color: var(--primary-color-white);
}

.get_started {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  width: 230px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--primary-color-white);
  margin-top: 64px;
}

.get_started:hover .arrow {
  rotate: 53deg;
  /* transition: rotate 250ms ease-in-out; */
}

.arrow {
  fill: var(--primary-color-white);
  width: 18px;
}

.wrapper_box {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 284px;
  background-color: var(--primary-color-white);
  height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.svg_wrapper {
  display: flex;
  width: 54px;
  height: 54px;
  border-radius: 13px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-red);
}

.check {
  width: 20px;
  height: 16px;
  fill: var(--primary-color-white);
}

.text_nannies {
  font-weight: 400;
  color: rgba(17, 16, 28, 0.5);
}

.text_quantity {
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-color-black);
}

.wrap_overflow {
  @media screen and (max-width: 1439px) {
    overflow: hidden;
    position: relative;
  }
}
